@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');
*
{
  font-family: 'Baloo Tamma 2',Arial, Helvetica, sans-serif;
   padding: 0.5em; 
} 
.deasable
{
  color: lightgray;
}
.blocanim
{
  display: flex;
  flex-direction: column;


}
.container
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pictandcarest
{
  display: flex;
  flex-direction: row;
}
#section{
  display: flex;
  justify-content: space-around;
}


